# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# environment variables - Backend (NestJS)
.env
.env.local
.env.*.local

# environment variables - Frontend (Angular)
# Ignore dev environment files (contain secrets)
# **/environments/environment.ts
**/environments/environment.local.ts
# DO NOT ignore production and example files
!**/environments/environment.prod.ts
!**/environments/environment.example.ts

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

test-output

/generated/prisma

.angular