services:
  # Backend NestJS - API GraphQL
  - type: web
    name: pet-market-ko
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install && npx prisma generate && npx nx build pet-market-ko --configuration=production
    startCommand: node apps/pet-market-ko/dist/main.js
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: GRAPHQL_ENDPOINT
        value: /graphql
    buildFilter:
      paths:
        - apps/pet-market-ko/**
        - prisma/**
        - libs/**
        - package.json
        - package-lock.json
        - nx.json
        - tsconfig.base.json

  # Frontend Angular - SSR
  - type: web
    name: pet-market-web
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install && npx nx build pet-market-web --configuration=production
    startCommand: node dist/apps/pet-market-web/server/server.mjs
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: API_URL
        # Remplace par l'URL de ton backend une fois déployé
        # Ex: https://pet-market-ko.onrender.com/graphql
        sync: false
    buildFilter:
      paths:
        - apps/pet-market-web/**
        - libs/**
        - package.json
        - package-lock.json
        - nx.json
        - tsconfig.base.json